.button{
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.primary-button{
        background-color: rgb(252, 61, 61);
        color: rgb(251, 233, 233);
    }

    &:active{
        transform:scale(0.9);
    }
}